<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{% block title %} {% endblock %}</title>
        {% block link %}
        {% endblock %}
    </head>

    <body>
        <header>
            {% if user_name == None %}
                <a href="/login/">Ввійти у аккаунт</a>
                <a href="/registration/">Зареєструватись</a>
            {% else %}
                <p>{{ user_name }}</p>
            {% endif %}

            <a href= "/">Home</a>
            <a href= "/shop/">Shop</a>
            <a href= "/cart/">Cart</a>

            {% if is_admin %}
                <a href= "/admin/">Admin</a>
            {% endif %}
        </header>

        <main>
            {% block content %} 
            
            {% endblock %}
        </main>
    </body>  
</html>