{% extends "base.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block content %} 
    <!-- <form method="post"> -->
        <!-- <input type = "text" name = "name" placeholder = "Задайте ім'я"> -->
        <!-- <input type = "text" name = "price" placeholder = "Задайте ціну" > -->
        <!-- <input type = "text" name = "description" placeholder = "Задайте опис"> -->
        <!-- <input type = "text" name = "count" placeholder = "Задайте кількість"> -->
        <!-- <button type = "submit">Зберегти</button> -->
    <!-- </form> -->
{% endblock %}